{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{super()}}Request Password Reset{% endblock %}


{% block category %}{% endblock %}
{% block page_content %}
<div class="form-div2">
    
<form class='forms' method="POST" novalidate>
   
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class='form-control')}}
    
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
        {% endif %}
      </div>
    
      <div class="mb-3">
        {{ form.password_confirm.label }}
        {{ form.password_confirm(class='form-control')}}
    
        {% if form.password_confirm.errors %}
        {% for error in form.password_confirm.errors %}
        <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
        {% endif %}
      </div>
      <button type="submit" class="btn btn-secondary btn-lg button-custom">Reset Password</button>

    </form>

</div>
{% endblock  %}  
