.test {
	color:grey !important;
}

.flask-moment {
	display: inline !important;
	color: white !important;
}

.card {
	border-color:transparent;
}

a {
	text-decoration: none !important;
}
/* To stick footer */

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
	background-color: #333;
	color:#fff;
	font-family: sans-serif;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
    color: white;
    height:30px;
	color:grey;
}

footer p {
	line-height: 40px;
}


/* end */

a {
	color:white;
}

a:hover {
	color:chartreuse;
}


.form-div {
    width:100%;
    margin: auto auto 3% auto;
}


/* base.html */

.logo-img {
	border-radius: 100%;
	width:60px;
	height:auto;
	margin-top:0;
}

.content-div {
    text-align: center;
    width: 90%;
    margin:auto;
    flex: 1 0 auto;
}

.nav-custom {
	color: white;
	font-size: xx-large;
	font-weight: bolder;
	padding-top:14px;
}

.nav-custom:hover {
	color: chartreuse;
	font-size: xx-large;
	font-weight: bolder;
}


.navbar-toggler {
	color:#fff;
	background-color: chartreuse;
	
}

.navbar-toggler-icon {
	color:#fff;
}

.navbar-toggler-icon {
	color:#fff;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: chartreuse;
}

.navbar-text {
	color:white;
}

/* .navbar-nav {
	padding-right: 16px;
	text-align: right;
	right:0;
} */

@media only screen and (max-width: 992px) {
	.navbar-nav {
		padding-right: 20px;
		text-align: right;
		right:0;
	}
  }


.show {
	display: inline !important;
}

.button-custom {
	border: white;
	background-color: #333;
	border-style:ridge;
	color: white;
	font-weight: bold;
	border-width: medium;
}

.button-custom:hover {
	background-color: #333;
	color:chartreuse;
	border-color: chartreuse;
	font-weight: bold;
}

.post-button {
	background-color: chartreuse;
	color: #333;
	font-size: large;
	font-weight: bolder;
}

.post-button:hover {
	color:chartreuse;
	font-size: large;
	font-weight: bolder;
}

.custom-container {
	width:80%;
	margin: auto;
}

.search-field {
	margin: 1% auto 1% auto;
	width: 50%;
}

.bg-light {
	background-color: transparent !important;
}


.dropdown-div {
	display:inline;
	/* background-color:green; */
}

.form-div1 {
	display: inline-block;
	/* background-color: blue; */
	width:60%;
}

.form-div2 {
	display: inline-block;
	/* background-color: blue; */
	width:80%;
}

.seach-field-div {
	display:inline-block;
	width:100%;
	
}


/* index.html */
.index-div {
    width:100%;
    margin:auto;
}

.index-div h3 {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.item-image {
	width:260px;
	height:260px;
	object-fit: contain;
}

/* per_category.html */
.each-item {
    text-align: center;
	background-color: #333;
	color:white;
	margin:auto;
	overflow:hidden;	
	height:400px;
}


/* each_slug_post.html */
.item-div {
    width:100%;
    text-align: center;
    margin:auto auto 3%;
}

.item-div h1 {
	margin-top:5rem;
	margin-bottom:6rem;
}

.item-image2 {
	width:420px;
	height:420px;
	object-fit: contain;
}

.img-div {
	margin:auto;
}

.card-img-top {
	text-align: center;
}

.item-image3 {
	width:200px;
	height:200px;
	object-fit: contain;
}

.info-tab {
	margin: 3% auto 1% auto;
	width:60%;
	word-wrap:break-word;
}

.info-tab h5 {
	margin-bottom: 2%;
}


.carousel-indicators {
	margin:auto;
}


.category-button-div {
	margin: 2rem auto 2rem auto;
}

.post-description {
	padding-top:3rem;
	padding-bottom: 3rem;
}

.item-table {
    text-align: center;
}

.reply-tag {
	color:#333;
	font-weight: bolder;
}

.edit-button {
	background-color: chartreuse;
	color:#333;
	border-width:medium;
	border-color:chartreuse;
	font-weight:bold;
}

.edit-button:hover {
	background-color: #333;
	color:chartreuse;
	border-width:medium;
	border-color:chartreuse;
	font-weight:bold;
}

.delete-button {
	border-color: red;
	border-width:medium;
	background-color: red;
	font-weight: bold;
	color:white;
}

.delete-button:hover {
	border-color: red;
	border-width:medium;
	background-color: black;
	color:red;
	font-weight:bold;
}

/* .giver-reply {
    text-align: right;
} */

/* user.html */
.user-item-list {
    margin-top: 3rem;
}

.user-item-list h2 {
    margin-bottom: 4rem;
}

.profile-div {
	width:80%;
	margin:auto;
}

.profile-div h1 {
	font-size:xx-large;
	color: chartreuse;
}

.profile-div2 {
	text-align: left;
	margin-top: 3rem;
	font-size:small;
}

.profile-table {
	table-layout: fixed; 
	width: 100%;
	color:#fff;
}

.profile-table th {
	width:16%;
}

.profile-bio-td {
	word-wrap: break-word;
}

.profile-hr {
	width:80%;
	margin:auto;
}

.profile-buttons{
	margin-top:3rem;
	margin-bottom:3rem;
}

.reset-password-button {
	background-color: chartreuse;
	color: #333;
	font-weight: bold;
	border-color: chartreuse;
	border-width:medium;
}

.reset-password-button:hover {
	background-color: black;
	color: chartreuse;
	font-weight: bold;
	border-width:medium;
	border-color: black;
}

/* post-new-item.html */

.post-new-item-div{
	width:60%;
	margin:auto;
	padding-top:3rem;
}

.post-new-item-div h1 {
    margin-bottom: 5rem;
}

/* .category-search-div {
	margin-bottom:16px;
} */

/* contact-giver.html */
.contact-giver-div h1 {
    margin-top: 2%;
    margin-bottom: 4%;
}


.message-div {
    width: 80%;
    margin:auto;
}

/* message.html */

.entire-message-div {
	width:80%;
	margin:auto;
}

.message-received-div {
	margin-bottom: 40px;
}

.message-received-div h4 {
	margin-top:1%;
}

.message-received-div p {
	margin-top:10px;
}

.answer-received-div h4{
	margin-top:10px;
}

.answer-received-div p{
	margin-top:1%;
}

.message-tag {
	color:chartreuse;
}

.message-tag:hover {
	color:white;
}

/* LEFT BUBBLE */
p.bubble {
	position: relative;
	width: 60%;
	text-align: center;
	line-height: 1.4em;
	margin: 0 auto 5% 0;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 10px;
	font-size: medium;
    color: #333;
    word-wrap: break-word;
}

p.bubble:before,
p.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

p.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

/* RIGHT BUBBLE */

p.bubble.right {
	position: relative;
	width: 60%;
	text-align: center;
	line-height: 1.4em;
	margin: 0 0 4% auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 10px;
	font-size: medium;
    color: #333;
    word-wrap: break-word;
}


p.bubble.right:before,
p.bubble.right:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech.right:before {
	left: 100px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

p.speech.right:after {
	left: 108px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

.asker {
    text-align: left;
    font-size: x-small;
}

.giver {
    text-align: right;
    font-size: x-small;
}

/* per_category.html */

.forms {
	width:50%;
	margin:auto;
}

.form-div p {
	margin-top: 2%;
}

/* _macros.html */

.pagination-div {
    width:100%;
	margin:auto;
}

.pagination {
    height:30px;
}


.pagination .active a {
	background-color: #333;
	border-color: white;
}

.pagination .active a:hover {
	background-color: chartreuse;
	color:#333;
	border-color: white;
}

.pagination li a {
	background-color: white;
	color: #333;
}

.pagination li a:hover{
	background-color: white;
	color:darkgreen;
	font-weight: bolder;
}

/* reply.html */

.reply-div h1 {
    margin-top: 2%;
    margin-bottom: 4%;
}

.reply-div {
	width:60%;
	margin:auto;
}

/* login.html */

.new-user {
	margin-top:20px;
}

/* contact_admin.html */
.logo-img2 {
	width:36rem;
	height:auto;
	margin:auto;
}

/* unconfirmed.html */

.unconfirmed-div {
	text-align: center;
	width:80%;
	margin:200px auto auto auto;
}

.unconfirmed-div h4 {
	line-height: 30px;
}

.unconfirmed-div h1 {
	font-size:xx-large;
}

.confirmation-resend-link {
	color:chartreuse;
}

.confirmation-resend-link:hover {
	color:purple;
}



