

/* To stick footer */

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
	background-color: #333;
	color:#fff;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
    
    color: white;
    height:50px;
}

/* end */

a {
	color:white;
}

a:hover {
	color:chartreuse;
}


.form-div {
    width:100%;
    margin: auto;
}

/* base.html */

.content-div {
    text-align: center;
    width: 90%;
    margin:auto;
    flex: 1 0 auto;
}

.nav-custom {
	color: white;
	font-size: xx-large;
}

.button-custom {
	border: white;
	background-color: #333;
	border-style:ridge;
	color: white;
}

.button-custom:hover {
	background-color: white;
	color:#333;
}

.custom-container {
	width:80%;
	margin: auto;
}

/* .search-field {
	margin: 1% auto 1% auto;
	width: 50%;
} */

.nav-items {
	color:#fff;
}

.nav-items:hover {
	background-color: #333;
	color: black;
}

.category-div {
	display:inline-block;
	position: relative;
	margin-bottom: 3%;
	
}

.form-div {
	display: inline;
}

.seach-field-div {
	display:inline-block;
	width:50%;
	
}

.search_button {
	display: inline-block;
}

/* index.html */
.index-div {
    width:100%;
    margin:auto;
}

.index-div h3 {
    margin-top: 2%;
    margin-bottom: 3%;
}

.item-image {
	width:260px;
	height:260px;
	object-fit: contain;
}

/* per_category.html */
.each-item {
    text-align: center;
}

/* each-item.html */
.item-div {
    width:100%;
    text-align: center;
    margin:auto auto 3%;
}

.item-image2 {
    width:420px;
    height:fit-content;
}

.item-table {
    text-align: center;
}

.reply-tag {
	color:#333;
	font-weight: bolder;
}

/* .giver-reply {
    text-align: right;
} */

/* user.html */
.user-item-list {
    margin-top: 2%;
}

.user-item-list h4 {
    margin-bottom: 2%;
}

.profile-div {
	width:80%;
	margin:auto;
}

.profile-div2 {
	text-align: left;
}

.profile-table {
	table-layout: fixed; 
	width: 100%;
}

.profile-table th {
	width:16%;
}

.profile-bio-td {
	word-wrap: break-word;
}

.profile-hr {
	width:80%;
	margin:auto;
}

.profile-buttons{
	margin-top:3%;
	margin-bottom:3%;
}

/* post-new-item.html */
.post-new-item-div h1 {
    margin-bottom: 3%;
}

/* contact-giver.html */
.contact-giver-div h4 {
    margin-top: 2%;
    margin-bottom: 4%;
}

.message-div {
    width: 80%;
    margin:auto;
}


/* LEFT BUBBLE */
p.bubble {
	position: relative;
	width: 50%;
	text-align: center;
	line-height: 1.4em;
	margin: 0 auto 5% 0;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 10px;
	font-size: medium;
    color: #333;
    word-wrap: break-word;
}

p.bubble:before,
p.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

p.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

/* RIGHT BUBBLE */

p.bubble.right {
	position: relative;
	width: 50%;
	text-align: center;
	line-height: 1.4em;
	margin: 0 0 4% auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 10px;
	font-size: medium;
    color: #333;
    word-wrap: break-word;
}


p.bubble.right:before,
p.bubble.right:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech.right:before {
	left: 100px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

p.speech.right:after {
	left: 108px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

.asker {
    text-align: left;
    font-size: x-small;
}

.giver {
    text-align: right;
    font-size: x-small;
}

/* per_category.html */
.category-title {
	margin-bottom: 3%;
}

.forms {
	width:50%;
	margin:auto;
}

.form-div p {
	margin-top: 2%;
}

