{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{super()}}Contact giver {% endblock %}
{% block category %}{% endblock %}

{% block page_content %}
<div class="contact-giver-div">

   <h1><strong style="color:chartreuse;">{{ item.title }}</strong> posted by <strong>{{ item.giver.username }}</strong></h1>
<form class='forms' method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        
        {{form.description(class="form-control")}}

        {% if form.description.errors %}
        {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
        {% endif %}
      </div>

      <button type="submit" class="btn btn-secondary btn-lg button-custom">Send Question</button>
    </form>
    <img class='logo-img2'src="{{ url_for('main.download_image', resource='freestuff_logo.png') }}" alt="freestuff-logo">
</div>
{% endblock %}

