{% extends 'base.html' %}


{% block title %}{{super()}}{{post.title}}{% endblock %}
{% block category %}{% endblock %}


{% block page_content %}

    <div class="item-div">
        <h1>{{ post.title }}</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ img1 }}" class="d-block w-100 item-image2" alt="{{ post.title }}">
                
              </div>
              <div class="carousel-item">
                <img src="{{ img2 }}" class="d-block w-100 item-image2" alt="{{ post.title }}">
              </div>
              <div class="carousel-item">
                <img src="{{ img3 }}" class="d-block w-100 item-image2" alt="{{ post.title }}">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="card-body info-tab">
            <p><small class="text-muted test">{{ moment.include_moment() }}{{ moment(post.timestamp).fromNow() }}</small></p>
           
          <h5 class="card-title">By  <a href="{{ url_for('main.user', username=post.giver.username)}}">
          {{ post.giver.username }}</h5></a>
          <h3 class="card-text post-description">{{ post.description }}</h3>
          
        </div>
    </div>
    
<div class="category-button-div">
    {% if current_user.is_authenticated and not current_user==post.giver %}
    <a href="{{ url_for('main.contact_giver', item_id=post.id) }}"><button type="button"
            class="btn btn-secondary btn-lg button-custom">Contact {{ post.giver.username }}</button></a>
    {% endif %}
    {% if current_user == post.giver or current_user.is_administrator() %}
    <a href="{{ url_for('main.edit_post', item_id=post.id) }}"><button type="button" class="btn btn-warning edit-button">Edit
            Post</button></a>
    <a href="{{ url_for('main.delete_post', item_id=post.id) }}"><button type="button" class="btn btn-danger delete-button">Delete
            Post</button></a>
    {% endif %}
</div>

<div class="message-div">

    {% if messages %}
        {% for message in post.messages|sort(reverse=True, attribute='timestamp')  %}
            {% if message.reply == False %}
                 <p class="asker">from <strong><a
                href="{{ url_for('main.user', username=message.asker.username)}}">{{ message.asker.username}}</a></strong> --- {{ moment.include_moment() }}{{ moment(message.timestamp).fromNow() }}
                </p>
                 <p class="bubble speech left">{{ message.description }}
                {% if current_user == post.giver%}
                    <a class="reply-tag" href="{{ url_for('main.reply', item_id=post.id, message_id=message.id )}}">Reply</a>{% endif %}
                {% if message.replied == False and current_user == post.giver %}
                    <a href="{{ url_for('main.mark_as_replied', item_id=post.id, message_id=message.id)}}">
                    <button class="btn btn-light button-custom" type="submit">Mark as Replied</button>
                    </a>
                {% endif %}</p>
                
            {% endif %}

       

            {% if message.reply == True %}
                 <p class="giver">from <strong><a
                href="{{ url_for('main.user', username=post.giver.username)}}">{{ post.giver.username}}</a>
                </strong> to {{message.answered_user2}} --- {{ moment.include_moment() }}{{ moment(message.timestamp).fromNow() }}</p>
                <p class="bubble speech right">{{ message.description }}
                    
                {% if message.read == False and message.answered_user == current_user.id %}
                    <a href="{{ url_for('main.mark_as_read', item_id=post.id, message_id=message.id)}}">
                    <button class="btn btn-light button-custom" type="submit">Mark as Read</button>
                {% endif %}
               
                </p>
            {% endif %}
        {% endfor %}
    {% else %}
    <h4>There is no question so far.</h4>
    {% endif %}
</div>


{% endblock %}