{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}{{super()}}Index {% endblock %}


{% block page_content %}

<div class="index-div">
 
  <h3>Currently we have {{ posts_count }} posts. </h3>
  {% if posts %}
  {% for post in posts|sort(reverse=True, attribute='timestamp') %}

  <div class="card-deck">
    <div class="card col-lg-3 col-md-4 col-sm-12 each-item">
      <a href="{{ url_for('main.each_slug_post', slug=post.slug)}}"> 
        
        <img class="card-img-top item-image" src="{{ url_for('main.download_image', resource=post.photos) }}"
          alt="{{ post.title }}">
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4></a>
      <p class="card-text"><small class="text-muted test">{{ moment.include_moment() }}{{ moment(post.timestamp).fromNow()}}</small></p>
       </div>
    </div>
  {% else %}
  <p>There is no post.</p>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}



{% block pagination %}
{% if pagination %}
<div class="pagination-div">
  {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}