{% extends 'base.html' %}


{% block title %}{{super()}}Messages for {{ current_user.username }}{% endblock %}
{% block category %}{% endblock %}

{% block page_content %}

<div class="entire-message-div">

<div class="message-received-div">
<h1>Question Received.</h1>
{% if current_user.question_received > 0 %}
    {% for p in posts %}
        {% for m in messages|sort(reverse=True, attribute='timestamp') %}
            {% if p.id == m.post_id %}
            <h4>Question received "<strong>{{ m.description }}</strong>" about "<strong>{{p.title}}</strong>" 
                from {{ m.asker.username }} 
                
                <a class='message-tag' href="{{ url_for('main.each_slug_post', slug=p.slug)}}">See the question</a>
            </h4>

            {% endif %}
        {% endfor %}
    {% endfor %}

{% else %}
<p>There is no question received.</p>
{% endif %}
</div>

<div class="answer-received-div">
<h1>Answers Received.</h1>
{% if current_user.question_answered > 0 %}

{% for q in posted_questions|sort(reverse=True, attribute='timestamp')  %}

    <h4>Message received "<strong>{{ q.description }}</strong>" <span>
    <a class='message-tag' href="{{ url_for('main.each_slug_post', slug=q.get_slug_for_post_related_to_message() )}}">
        See the message</a></span></h4>
 
{% endfor %}

{% elif current_user.question_answered == 0 %}
<p>There is no answer received.</p>
{% endif %}
</div>

</div>

{% endblock %}