{% extends 'base.html' %}


{% block title %}{{super()}}Messages for {{ current_user.username }}{% endblock %}
{% block category %}{% endblock %}

{% block page_content %}

<div class="entire-message-div">

<div class="message-received-div">
<h1>Message Received.</h1>
{% if current_user.question_received > 0 %}
    {% for p in posts %}
        {% for m in messages|sort(reverse=True, attribute='timestamp') %}
            {% if p.id == m.post_id %}
            <h4>About "<strong>{{p.title}}</strong>" :
                <a href="{{ url_for('main.each_item', item_id=p.id)}}">{{ m.description }}</a> from {{ m.asker.username }}</h4>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% else %}
<p>You have no inquiry.</p>
{% endif %}
</div>

<div class="answer-received-div">
<h1>Answers Received.</h1>
{% if current_user.question_answered > 0 %}

{% for q in posted_questions|sort(reverse=True, attribute='timestamp')  %}
 
    <h4>About "<strong>{{ q.description }}</strong>" :<span>
        <a href="{{ url_for('main.each_item', item_id=q.post_id )}}">Check reply</a></span> {{q.id}}</h4>


{% endfor %}

{% elif current_user.question_answered == 0 %}
<p>No reply received for your inquiry.</p>
{% endif %}
</div>

</div>

{% endblock %}