{% extends 'base.html' %}


{% block title %}{{super()}}Messages for {{ current_user.username }}{% endblock %}
{% block category %}{% endblock %}

{% block page_content %}


<!-- 
{% if messages %}
{% for message in messages|sort(reverse=True, attribute='timestamp') %}

<li>

{{ message.description }} from {{ message.asker.username}}

</li>
{% endfor %}

{% else %}
<p>There is no message.</p>
{% endif %} -->


{% for p in posts %}
<h4>About "<strong>{{p.title}}</strong>" :</h4>
{% for m in messages %}
    {% if p.id == m.post_id %}
        {% if m.replied == False %}
            <li>{{ m.description }} from {{ m.asker.username }}</li>

{% endif %}
{% endif %}
{% endfor %}
{% endfor %}






{% endblock %}