{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}{{super()}}{{category}} {% endblock %}

{% block page_content %}
<div class="item-div">

  <h1 class="category-title">Category: {{ category }}</h1>
  {% if items %}
  {% for item in items|sort(reverse=True, attribute='timestamp') %}

  <div class="card-deck">
    <div class="card col-lg-3 col-md-4 each-item">
      <a href="{{ url_for('main.each_item', item_id=item.id)}}">
        <img class="card-img-top item-image" src="{{url_for('static', filename='images/cart.jpg')}}" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5></a>
          <p class="card-text"><small class="text-muted">{{ moment(item.timestamp).fromNow() }}</small></p>
        </div>
    </div>
    {% else %}
<p>There is no item related to {{ category }}.</p>
{% endfor %}
{% endif %}
  </div>
  

{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

{% endblock %}