{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{super()}}Reply {% endblock %}
{% block category%}{% endblock %}

{% block page_content %}

<div class="reply-div">

    <h1>This is about <strong>{{ item.title }}</strong>.</h1>
<form method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        
        {{form.description(class="form-control")}}

        {% if form.description.errors %}
        {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span><br>
        {% endfor %}
        {% endif %}
      </div>

      <button type="submit" class="btn btn-secondary btn-lg button-custom">Send Reply</button>

    </form>
</div>
{% endblock %}