{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}{{super()}}Search result for {{keyword}}{% endblock %}

{% block page_content %}
{{ moment.include_moment() }}

<div class="item-div">
  <h1>Search keyword "<strong>{{ keyword }}</strong>". </h1>
  {% if results %}
  {% for result in results|sort(reverse=True, attribute='timestamp') %}

  <div class="card-deck">
    <div class="card col-lg-3 col-md-4 col-sm-12 each-item">
      
      <a href="{{ url_for('main.each_slug_post', slug=result.slug) }}">
        <div class="img-div">
      <img class="card-img-top item-image" src="{{ url_for('main.download_image', resource=result.photos) }}" alt="{{ result.title }}">
    </div>
      <div class="card-body">
        <h5 class="card-title">{{ result.title }}</h5></a>
        <p class="card-text"><small class="text-muted test">{{ moment(result.timestamp).fromNow() }}</small></p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There is no item related to the keyword.</p>
   
    {% endif %}
  </div>


  {% endblock %}


  {% block pagination %}
  {% if pagination %}
  <div class="pagination-div">
    {{ macros.pagination_widget(pagination, '.index') }}
  </div>
  {% endif %}
  {% endblock %}