<div class="index-div">
<div class="card-deck">
    {% if posts %}
    {% for post in posts|sort(reverse=True, attribute='timestamp')  %}

    <div class="card col-lg-3 col-md-4 each-item">
  
        <a href="{{ url_for('main.each_slug_post', slug=post.slug)}}">
            <img class="card-img-top item-image" src="{{ url_for('main.download_image', resource=post.photos) }}"
                alt="{{ post.title }}">

            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
        </a>


        <p class="card-text"><small class="text-muted test">{{ moment(post.timestamp).fromNow() }}</small></p>
    </div>
</div>
    
    {% endfor %}
    {% else %}
    <h4>There is no item posted yet.</h4>
    {% endif %}

</div>

